---

---

<div class="link-bar">
  <ul class="links">
    <li>Overview</li>
    <li>Posts</li>
  </ul>
</div>

<style>
  .link-bar {
  }
  .links {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }
</style>
