:root {
  /* Dark Colors */
  --dark-background: #0c1117;
  --dark-appbar: #020408;
  --dark-text-primary: #e6edf3;
  --dark-text-secondary: #8b929c;
  --dark-border: #30363d;

  /* TODO: move this to a prefers */
  --appbar: var(--dark-appbar);
  --background: var(--dark-background);
  --text-primary: var(--dark-text-primary);
  --text-secondary: var(--dark-text-secondary);
  --border-color: var(--dark-border);
}

body,
html {
  background-color: var(--background);
  border-color: var(--border-color);
  color: var(--text-primary);
}

hr {
  color: var(--border-color);
}
