---
interface Props {
  siteTitle?: string;
}

const { siteTitle } = Astro.props;
---

<header>
  <div>{siteTitle}</div>
</header>

<style>
  header {
    background-color: var(--appbar);
    border-bottom: 1px solid;
    padding: 1rem;
  }
</style>
