---
const currentYear = new Date().getFullYear();
---

<footer>
  <div class="attribution">
    <div>build with astro</div>
    <div>inspired by github</div>
  </div>
  <div class="copyright">copyright &copy; {currentYear}</div>
</footer>

<style>
  footer {
    padding: 1rem;
  }

  .copyright {
  }
  .attribution {
  }
</style>
